.CenterContainer{
    width: 20%;
    margin: 5em auto;
}

.Center{
    display: block;
    margin: 0 auto;
}

.Color{
    background: #013c6f;
}

.Floating{
    position:fixed;
    top: 1em;
    left: 1em;
    margin: 0 auto;
    z-index: 1000;
}

.btn:disabled{
    background: #013c6f;
}

.btn:hover{
    background: #012a56;
}

@media only screen and (max-width: 1000px) {
    .CenterContainer{
        width: 300px;
    }
}