.CenterContainer{
    position: absolute;
    margin-top: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Center{
    display: block;
    margin: 0 auto;
}

.Color{
    background: #283593;
}