.Footer {
    position: relative;
    bottom: 0;
    margin-top: 2em;
    width:100%;
    background:#013c6f;
}

.IconsContainer{
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.Copyright{
    background: #42669e;
}